<body style="margin: 0px;">
  <div class="toolbar">
  <label class="title">Calculators</label>
  <label routerLink="bmi" class="bmi-label toolbar-label">BMI</label>
  <label routerLink="silnia" class="silnia-label toolbar-label">Silnia</label>
  <label routerLink="fibonacci" class="fib-label toolbar-label">Fibonacci</label>
  <label routerLink="salary" class="salary-label toolbar-label">Wynagrodzenie</label>
  <label routerLink="percent" class="percent-label toolbar-label">Procent składany</label>
</div>

<router-outlet></router-outlet>
</body>